@import url('https://fontis.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins',sans-serif;
}
header{
    width:100%;
    height: 100%;
       background-position:center ;
       background-repeat: no-repeat;
      background-size:cover;
      object-fit: cover;
       background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)), url(as.html.jpg) ;
      
   
   }
   nav{
       width: 100%;
       height: 15vh;
       background-color: rgba(0, 0, 0, 0.2) ;
       color: white;display: flex;justify-content: space-between;
       align-items: center;
       
      
   
   }
   #h{
     font-size: 30px;
     margin-right: 150px;
   }
   nav .logo{
   
       width: 30%;
       text-align: center;
       
       
   }
   nav .menu{
    font-size: larger;
       width: 40%;
       display: flex;
       justify-content: space-around;
   }
   
   nav .menu a{
       width: 30%;
       text-decoration: none;
       color: white;
       font-weight: bold;
   }
    menu:hover {
       background:gray;
       color: white;
      
    }
   
   nav .m{
      
       text-decoration: none;
     
       font-weight: bold;
   }
.contact{
    position: relative;
    min-height: 85vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    background-size: cover;
}
.contact .content{
    margin-left: 200px;
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
  
    margin-top: -30px;
    font-size: 36px;
    font-weight: bold; /*1*/
    color:black;
}
.contact .content p{
    margin-top: 20px;
    font-weight: 300;
    color:snow;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
}
.container .contactInfo{
margin-left: 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    margin-left: 80px;
    height: 100px; 

}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    margin-top: -10px;
    

}


.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: bold;
    color:black;
}
.contactform {
   
    width: 30%;
    padding: 10px;
    background: #fff;
   margin-left: 90px;
}

.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;

}
.contactform .a{
    position: relative;
    width:100%;
    margin-top: 30px;

}
.contactform .a input,.contactform .a textarea{
    width: 100%;
    padding: 0 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;

}
.contactform .a span{
    position: absolute;
    left: 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5%;
    color: #666;
}
.contactform .a input:focus ~ span,
.contactform .a input:valid ~ span,
.contactform .a textarea:focus ~ span,
.contactform .a textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .a input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media(max-width:991px){
    .contact{
        padding: 40px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
       margin-bottom: 40px; 
    }
    .container .contactInfo,.contactform{
        width: 100%;
    }
}
